@font-face {
    font-family: "Advent Pro Regular";
    font-style: normal;
    font-weight: normal;
    src: local('Advent Pro Regular'), url("/fonts/AdventPro/AdventPro-Regular.woff") format('woff');
    }

* {
    font-family: "Advent Pro Regular", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-size: 6.25rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 2rem;
}

ul {
    /* border: 1px solid red; */
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30vw;
    padding: 0;
}

li {
    font-size: 1.75rem;
}

nav {
    display: flex;
    justify-content: space-between;
}

.container {
    padding: 50px;
    height: 100vh;
}

.main {
    margin-top: 150px;
}

/* .main p {
    margin-bottom: -10px;
} */

.main ul {
    margin-top: 30px;
}

.footer ul {
    max-width: 30vw;
    max-width: 30vw;
}

.footer {
    position: absolute;
    bottom: 65px;
}

.main-projects {
    position: absolute;
    top: 25vh;
    height: 50vh;
    max-height: 50vh;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 100px;
    overflow-y: auto;
}

.main-projects::-webkit-scrollbar {
    display: none;
  }

.project {
    display: flex;
    align-items: baseline;
    padding: calc(var(--pad)*2 + 96px) calc(var(--pad)*2);
}



